.main {
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* border: 1px solid rgb(17, 255, 0); */
}

.buttonAndTextBox {
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* border: 1px solid rgb(255, 119, 0); */
  margin-bottom: 2rem;
}

.btn {
  flex-grow: 1;
  color: rgb(255, 255, 255);
  font-size: clamp(1rem, 0vw + 1rem, 1rem);
  margin-top: 0.65vw;
  margin-bottom: 0rem;
  margin-left: 0.5vw;
  border: 1px solid hsl(0deg 0% 86.67%);
  font-weight: 700;
  background-color: #62d0b6;
}

.btnIcon {
  color: hsl(0deg 0% 86.67%);
  font-size: 1vw;
  border: 1px solid hsl(0deg 0% 86.67%);
  margin-top: 0.65vw;
}
.btn:hover,
.btnIcon:hover {
  background-color: hsl(165.82deg 53.92% 60%);
  color: white;
  border: 1px solid hsl(165.82deg 53.92% 60%);
}

.countdownDivs {
  background: #efefef;
  padding-left: 1.1vw;
  padding-right: 1.1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 5px;
}
.countdownNumber {
  font-weight: 700;
  font-size: 1.2rem;
}
.countdownText {
  color: #9d9d9d;
  font-size: 1rem;
}

.discountDivs {
  display: flex;
  gap: 1.2rem;
}

@media (max-width: 768px) {
  .discountDivs {
    flex-direction: column;
    height: 100%;
  }
}
