@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*DIN Next LT Arabic Font */

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Regular-2.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Regular-3.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Regular-4.ttf') format('truetype');
  font-weight: 400;
  /* Regular font weight */
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Bold-2.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Bold-3.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Bold-4.ttf') format('truetype');
  font-weight: 700;
  /* Bold font weight */
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Medium-2.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Medium-3.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Medium-4.ttf') format('truetype');
  font-weight: 500;
  /* Medium font weight */
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Heavy-1.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Heavy2-1.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-Heavy2-2.ttf') format('truetype');
  font-weight: 900;
  /* Heavy font weight */
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNEXTLTARABIC-LIGHT-1.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNEXTLTARABIC-LIGHT-2-2.ttf') format('truetype');
  font-weight: 300;
  /* LIGHT font weight */
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-UltraLight-1.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-UltraLight-2.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-UltraLight-3.ttf') format('truetype'),
    url('../Fonts/DIN-Next-LT-Arabic/ArbFONTS-DINNextLTArabic-UltraLight-4.ttf') format('truetype');
  font-weight: 200;
  /* UltraLight font weight */
  font-style: normal;
}







body,html,p,h1,h2,h3,h4,h5,h6,span,button {
  /* color: rgb(var(--foreground-rgb)); */
  font-family: 'DIN Next LT Arabic' !important;
  font-weight: normal;
}

/* slick slider modifications */
.slick-slide {
  padding: 0 12px;
  box-sizing: border-box;
}
