.productCategoryTitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.productCategorySubtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #666;
}

.leftArrowIcon{
    width: 14px;
    height: 14px !important;
    margin-top: 4px;
}