.box {
  display: flex;
  align-items: center;
  /* background-color: #1d1f1f; */
  padding: 0rem;
  margin: 0rem;
  border: 1px solid red;
}

.dropdown:hover,
.dropdownContent option:hover {
  display: block;
}

.dropdownContent {
  display: none;
}
