.main {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  /* border: 1px solid red; */
}

.photoAndTextBox {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  /* border: 1px solid red; */
  position: relative;
}

.photo {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.textBox {
  position: absolute;
  margin-left: 1rem;
  font-family: arabicFont;
  z-index: 2;
}
