.main {
  margin-top: 4vw;
  margin-top: 2vw;
}

.buttonAndTextBox {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: row;
  /* border: 1px solid red; */
}
.textBox {
  font-family: arabicFont;
}

.products {
  margin-top: 1vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 1vw;
}
